{% extends 'base.html.twig' %}

{% block title %}Photothèque de chatons version ficier{% endblock %}

{% block body %}
    <h1>Bienvenue sur la photothèque de chatons</h1>
    <p>Version fichier.</p>
    <ul>
        {% for dossier in dossiers %}
            <li>
                <a href="{{ path('app_dossier', {'nomDuDossier': dossier.filename}) }}">
                    {{ dossier.filename }}
                </a>
            </li>
        {% endfor %}
    </ul>


    <h2> Ajouter un dossier </h2>
    {{form(formulaire) }}

    <h2> Ajouter une image </h2>
    {{form(formulaireImage ) }}
{% endblock %}
