{% extends 'base.html.twig' %}

{% block title %}Hello ChatonsController!{% endblock %}

{% block body %}
<style>
    .title { text-align: center;  color : #012E40;}
    .cards { display: flex; flex-wrap: wrap; justify-content: center; } 
</style>

<div class="title">
    <h1>Chatons cards</h1>
</div>
<div class="cards">
    {% for card in cards %}
        {% include './chatons/card.html.twig' with card %}
    {% endfor %}
</div>
{% endblock %}
