{% extends 'base.html.twig' %}

{% block title %}Hello ChatonsController!{% endblock %}

{% block body %}
<style>
    
    /* Color Theme Swatches in Hex */
.Deep-Teal-Sea-1-hex { color: #012E40; }
.Deep-Teal-Sea-2-hex { color: #024959; }
.Deep-Teal-Sea-3-hex { color: #026773; }
.Deep-Teal-Sea-4-hex { color: #3CA6A6; }
.Deep-Teal-Sea-5-hex { color: #F2E3D5; }

    .title { text-align: center;  color : #012E40;}
    .cards { display: flex; flex-wrap: wrap; justify-content: center; }
    .card { margin: 30px 10px 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3); :hover border-color: #012E40;  }
    .card-body { padding: 20px 15px; }
    .card-title { text-align: center; color : #012E40; }
    .card-text { text-align: left; color : #012E40; }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F2E3D5; padding: 2px 6px; }
    .card-img-top { height: 300px; object-fit: cover;  filter : grayscale(100%); border-radius: 10px 10px 0 0 ; }
    .card-img-top:hover { filter : grayscale(0%); }
    .btn-primary { background-color: #012E40; border-color: #012E40; position: relative; left: 50%; transform: translateX(-50%); hover: background-color: #012E40; border-color: #012E40;}
</style>
<div class="title">
    <h1>ChatonsController</h1>
</div>
<div class="cards">

    <div class="card" style="width: 18rem;">
        <img src="./img/cat1.jpg" class="card-img-top" alt="cat 1" >
        <div class="card-body">
        <h5 class="card-title">Chat Mignon</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./img/cat2.jpg" class="card-img-top" alt="cat 2">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./img/cat3.jpg" class="card-img-top" alt="cat 3">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Chat blanc </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endblock %}
