{% extends 'base.html.twig' %}

{% block title %}Hello ChatonsController!{% endblock %}

{% block body %}
<style>
    .cards { display: flex; flex-wrap: wrap; justify-content: center; }
    .card { margin: 30px 10px 20px; }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .card-img-top { height: 300px; object-fit: cover; }
</style>
<div class="cards">
    <div class="card" style="width: 18rem;">
        <img src="./img/cat1.jpg" class="card-img-top" alt="cat 1" >
        <div class="card-body">
        <h5 class="card-title">Chat Mignon</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./img/cat2.jpg" class="card-img-top" alt="cat 2">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="./img/cat3.jpg" class="card-img-top" alt="cat 3">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
{% endblock %}
